[submodule "themes/catppuccin/vim"]
	path = themes/catppuccin/vim
	url = https://github.com/catppuccin/vim.git
[submodule "fish-shell"]
	path = fish-shell
	url = https://github.com/fish-shell/fish-shell.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/tmux/tmux.git
[submodule "vim"]
	path = vim
	url = https://github.com/vim/vim.git
[submodule "themes/catppuccin/fish"]
	path = themes/catppuccin/fish
	url = https://github.com/catppuccin/fish.git
[submodule "yazi"]
	path = yazi
	url = https://github.com/sxyazi/yazi.git
